@import url('reset.css');

/*-----------------------------------------------------------------*/
/* GLOBAL ELEMENTS
/*-----------------------------------------------------------------*/

body, 
input, 
textarea, 
select { font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; }
	
body {
	line-height: 1.6em;
	background: #fff;
	color: #5a6063;
	overflow-y: scroll;
}

a { text-decoration: none; }

input,
textarea,
select,
.btn,
.load,
.msg,
.lists .statistics,
.form-edit .description-area,
.field-images p.add-images span {
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;
}

input,
textarea,
select,
#admin-menu,
#page-header,
.field-submit.fixed,
.field-images .add-images,
#footer {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

/*-----------------------------------------------------------------*/
/* FORM AND BUTTONS STUFFS
/*-----------------------------------------------------------------*/

input[type=text], 
input[type=password], 
textarea, 
select {
	color: #5a6063;
	background: #fff;
	border: 1px solid #e0e5e8;
	padding: 5px 10px;
}
input[type=text]:focus, 
input[type=password]:focus, 
textarea:focus, 
select:focus { border-color: #c2c9cc; }

.btn {
	font-weight: bold;
	border: none;
	padding: 5px 10px;
	color: #fff;
	cursor: pointer;
}
.btn.btn-blue { background: #3fadc9; }
.btn.btn-blue:hover { background: #34a2bd; }
.btn.btn-green { background: #4aca92; }
.btn.btn-green:hover { background: #5adba3; }

a.btn {
	display: inline-block;
	padding: 5.5px 14px;
}

/*-----------------------------------------------------------------*/
/* MESSAGES
/*-----------------------------------------------------------------*/

.msg {
	background: #ffffdb;
	border: 1px solid #efe37d;
	padding: 10px 15px;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	   -moz-box-shadow: inset 0 1px 0 #fff;
			box-shadow: inset 0 1px 0 #fff;
}
.msg a { color: #c3aa46; }
.msg a:hover { color: #d9c05b; }

.msg-error {
	background: #ffe9e9;
	border-color: #e67878;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

.msg-form { margin-bottom: 20px; }
.msg-form:last-child { margin-bottom: 40px; }

.msg-no-margin { margin-bottom: 0 !important; }

/*-----------------------------------------------------------------*/
/* CUSTOM CHECKBOX AND RADIO
/*-----------------------------------------------------------------*/

.checkbox-hidden,
.radio-hidden { display: none; }

.custom-checkbox,
.custom-radio {
	position: relative;
	display: inline-block;
	padding-left: 19px;
}
.custom-radio.no-text { 
	padding-left: 14px;
	text-indent: -99999em;
}

.custom-checkbox:before,
.custom-radio:before {
	position: absolute;
	content: '';
	left: 0;
	top: 3px;
	width: 14px;
	height: 14px;
	background: url("../images/sprites.png") 0 -24px no-repeat;
}
.checkbox-hidden:checked + .custom-checkbox:before { background-position: 0 -38px; }
.custom-radio:before { background-position: 0 -52px; }
.radio-hidden:checked + .custom-radio:before { background-position: 0 -66px; }

/*-----------------------------------------------------------------*/
/* LAYOUTS
/*-----------------------------------------------------------------*/

#admin-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	padding: 40px;
}

#main { margin-left: 300px; }

#content { 
	position: relative;
	padding: 40px; 
}

#footer {
	padding: 35px 40px;
	border-top: 1px solid #e0e5e8;
}

/*-----------------------------------------------------------------*/
/* MISC
/*-----------------------------------------------------------------*/

.load {
	display: none;
	position: fixed;
	right: 10px;
	bottom: 10px;
	padding: 5px 10px;
	z-index: 9999;
	font-weight: bold;
	text-align: center;
	background: #f69452;
	color: #fff;
}

/*-----------------------------------------------------------------*/
/* ADMIN MENU
/*-----------------------------------------------------------------*/

#admin-menu { background: #2e393e; }
#admin-menu .logo { 
	margin-bottom: 35px;
	line-height: 0; 
}
#admin-menu ul { margin-bottom: 30px; }
#admin-menu li { 
	position: relative;
	margin-bottom: 2px; 
}
#admin-menu li:last-child { margin-bottom: 0; }
#admin-menu li a { color: #6e7a80; }
#admin-menu li .add {
	visibility: hidden;
	position: relative;
	top: 6px;
	display: inline-block;
	margin-left: 10px;
	width: 8px;
	height: 8px;
	background: url("../images/sprites.png") no-repeat;
	text-indent: -99999em;
}
#admin-menu li .add:hover { background-position: 0 -8px; }
#admin-menu li:hover > .add { visibility: visible; }
#admin-menu li a:hover,
#admin-menu .current a { color: #fff; }
#admin-menu .current:after {
	position: absolute;
	content: '';
	top: 50%;
	right: 0;
	margin-top: -4px;
	width: 4px;
	height: 8px;
	background: url("../images/sprites.png") 0 -16px no-repeat;
}

/*-----------------------------------------------------------------*/
/* PAGE HEADER
/*-----------------------------------------------------------------*/

#page-header { 
	padding: 30px 40px;
	background: padding-box #fff;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#page-header.fixed {
	position: fixed;
	z-index: 999;
	top: 0;
}

#page-header h1,
#page-header .view,
#page-header .unpublished {
	float: left;
	position: relative;
	top: 6px;
}

#page-header h1 {
	font-size: 18px;
	font-weight: normal;
	margin-right: 20px;
}

#page-header .view { color: #a9b1b5; }
#page-header .view:hover { color: #5a6063; }
#page-header .unpublished { color: #eba25b; }

#page-header .actions { float: right; }
#page-header .actions p {	
	display: inline-block;
	margin-right: 10px;
}

#page-header .actions .move-to-trash  {
	height: 16px;
	line-height: 16px;
}
#page-header .actions .move-to-trash.with-divider {
	padding-left: 10px;
	border-left: 1px solid #e0e5e8; 
}
#page-header .actions .move-to-trash a { color: #f26d6d; }
#page-header .actions .move-to-trash a:hover { color: #5a6063; }
#page-header .actions .btn-submit { margin-left: 10px; }

/*-----------------------------------------------------------------*/
/* LISTS
/*-----------------------------------------------------------------*/

.lists { position: relative; }

.lists .published { color: #40b47c; }
.lists .in-draft { color: #e58e4e; }
.lists .in-trash { color: #f26d6d; }

.lists .statistics,
.lists .edit-tag {
	position: absolute;
	left: 40px;
	top: 40px;
	width: 140px;
	background: #f4f7f8;
	padding: 15px 20px;
}
.lists .statistics .title {
	font-weight: bold;
	margin-bottom: 10px;
}
.lists .statistics a { color: #5a6063; }
.lists .statistics a:hover { color: #3fadc9; }

.lists .content { margin-left: 220px; }

.lists .items .item { margin-bottom: 15px; }
.portfolio-lists .items .item { margin-bottom: 20px; }
.lists .items .item:last-child { margin-bottom: 0; }
.portfolio-lists .items .item .thumbnail {
	float: left;
	width: 40px;
	height: 40px;
}
.portfolio-lists .items .item .details { margin-left: 60px; }
.lists .items .item .title a,
.lists .items .item  p a:hover { color: #5a6063; }
.lists .items .item .title a:hover { color: #3fadc9; }
.lists .items .item .title span {	
	float: right;
	font-size: 11px;
	font-weight: normal;
	margin-left: 20px;
}
.lists .items .item .title .delete {
	visibility: hidden;
	display: inline-block;
	margin-left: 10px;
	width: 8px;
	height: 8px;
	background: url("../images/sprites.png") 0 -157px no-repeat;
}
.lists .items .item .title .delete:hover { background-position: 0 -165px; }
.lists .items .item .title:hover > .delete { visibility: visible; }
.lists .items .item .title .count,
.lists .items .item p,
.lists .items .item p a { color: #a9b1b5; }
.lists .items .item p .separator { margin: 0 5px; }

.portfolio-tag-lists .edit-tag {
	background: none;
	padding: 0;
	width: 300px;
}
.portfolio-tag-lists .edit-tag .btn { margin-top: 20px; }
.portfolio-tag-lists .edit-tag .cancel-edit { 
	margin-left: 10px;
	color: #a9b1b5; 
}
.portfolio-tag-lists .edit-tag .cancel-edit:hover{ color: #5a6063; }
.portfolio-tag-lists .content { margin-left: 340px; }

.nav { margin-top: 40px; }
.nav a,
.nav span { margin-right: 10px; }
.nav,
.nav a { color: #a9b1b5; }
.nav  .current,
.nav a:hover { color: #5a6063; }
.nav  .current { font-weight: bold; }

.theme-lists .theme {
	float: left;
	margin: 40px 40px 0 0;
}
.theme-lists .theme:nth-child(-n+4) { margin-top: 0; }
.theme-lists .theme:nth-child(4n+4) { margin-right: 0; }
.theme-lists .theme .thumbnail { line-height: 0; }
.theme-lists .theme .thumbnail img {
	max-width: 100%;
	height: auto;
}
.theme-lists .theme .details { margin-top: 10px; }
.theme-lists .theme .details .theme-name .ver {
	margin-left: 5px;
	font-size: 11px;
	color: #949c9f;
}
.theme-lists .theme .details .delete,
.not-completed-themes ol li .delete {
	display: inline-block;
	width: 8px;
	height: 8px;
	background: url("../images/sprites.png") 0 -157px no-repeat;
	text-indent: -99999em;
	position: relative;
	top: 7px;
	margin-left: 10px;
}
.theme-lists .theme .details .delete:hover,
.not-completed-themes ol li .delete:hover { background-position: 0 -165px; }
.theme-lists .theme .details .theme-name .name { font-weight: bold; }
.theme-lists .theme .details .active,
.theme-lists .theme .details .current { 
	float: right;
	color: #40b47c; 
	margin-left: 10px;
}
.theme-lists .theme .details .current { color: #e58e4e; }
.theme-lists .theme .details .author,
.theme-lists .theme .details .author a { color: #949c9f; }
.theme-lists .theme .details .author a:hover,
.theme-lists .theme .details .active:hover { color: #5a6063; }

.not-completed-themes { margin-top: 30px; }
.not-completed-themes ol { 
	list-style: decimal; 
	margin-left: 17px;
}
.not-completed-themes ol li .delete { visibility: hidden; }
.not-completed-themes ol li:hover > .delete { visibility: visible; }

/*-----------------------------------------------------------------*/
/* FIELDS
/*-----------------------------------------------------------------*/

.field { margin-bottom: 35px; }
.field:last-child { margin-bottom: 0 !important; }
#secondary .field { margin-bottom: 40px; }

.field-section-title {
	font-size: 14px;
	font-weight: normal;
	color: #a9b1b5;
	margin-bottom: 30px;
}

.label { 
	display: block;
	margin-bottom: 5px;
	font-weight: bold; 
}
.label span {
	font-weight: normal;
	color: #a9b1b5;
	margin-left: 10px;
}

.input { width: 100%; }

.form-edit .description-area { 
	border: 1px solid #e0e5e8; 
	line-height: 0;
}
.form-edit .description-area .buttons { 
	line-height: 1.6em;
	border-bottom: 1px solid #e0e5e8; 
}
.form-edit .description-area .buttons a {
	display: inline-block;
	padding: 5px 10px;
	color: #5a6063;
	border-right: 1px solid #e0e5e8; 
}
.form-edit .description-area .buttons a:first-child {
	-webkit-border-radius: 2px 0 0 0;
	   -moz-border-radius: 2px 0 0 0;
			border-radius: 2px 0 0 0;
}
.form-edit .description-area .buttons a:hover { background: #f9fafb; }
.form-edit .description-area .textarea {
	border: none;
	padding: 15px 20px;
	resize: none;
	height: 230px;
}
.form-edit .nofollow { margin-right: 20px; }

/*-----------------------------------------------------------------*/
/* UPLOAD IMAGES
/*-----------------------------------------------------------------*/

#upload-images,
#install-theme { display: none; }

.field-images .add-images {
	float: left;
	position: relative;
	width: 40px;
	height: 40px;
	border: 1px dashed #cbd1d4;
	background: url("../images/sprites.png") 0 -81px no-repeat;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}
.field-images a.add-images:hover {
	border-color: #3fadc9;
	background-position: 0 -119px;
}
.field-images a.uploading,
.field-images a.uploading:hover { 
	cursor: default;
	border: 1px dashed #cbd1d4;
	background: url("../images/ajax-loader.gif") center center no-repeat; 
}
.field-images p.add-images span {
	display: none;
	position: absolute;
	z-index: 9999;
	width: 150px;
	bottom: 100%;
	left: 0;
	padding: 10px 15px;
	margin-bottom: 10px;
	font-size: 11px;
	background: #2e393e;
	color: #fff;
}
.field-images p.add-images span:after {
	position: absolute;
	content: '';
	width: 8px;
	height: 4px;
	bottom: -4px;
	left: 15px;
	background: url("../images/sprites.png") -1px -193px no-repeat;
}

.field-images .upload-note {
	float: left;
	margin-left: 10px;
	line-height: 1.5em;
}
.field-images .upload-note span {
	display: block;
	font-weight: bold;
}

.field-images .image-action,
.field-images .image-action .action { float: left; }
.field-images .image-action .action {
	height: 40px;
	padding-left: 20px;
	margin-left: 20px;
	border-left: 1px solid #e0e5e8; 
}
.field-images .image-action .action .title {
	display: block;
	font-size: 13px;
	font-weight: bold;
}
.field-images .image-action .action .delete { 
	display: inline-block;
	margin-left: 5px; 
	width: 8px;
	height: 8px;
	background: url("../images/sprites.png") 0 -157px no-repeat;
}
.field-images .image-action .action .delete:hover { background-position: 0 -165px; }
.field-images .image-action .action .custom-radio { padding-left: 18px; }
.field-images .image-action .action .custom-radio:before {
	width: 13px;
	height: 10px;
	top: 5px;
	background: url("../images/sprites.png") 0 -173px no-repeat;
}
.field-images .image-action .action .radio-hidden:checked + .custom-radio:before { background-position: 0 -183px; }

.field-images .image-lists { width: 103%; } 
.field-images .image-lists .image-item { 
	float: left;
	position: relative;
	width: 88px;
	height: 88px;
	margin: 10px 10px 0 0;
	cursor: move;
}
.field-images .image-lists .image-item.ui-sortable-placeholder {
	width: 86px;
	height: 86px;
	border: 1px dashed #cbd1d4;
	visibility: visible !important;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
}
.field-images .image-lists .image-item.as-thumbnail:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(63, 173, 201, 0.8) url("../images/check.png") center center no-repeat;
}
.field-images .image-lists .image-item.as-thumbnail.ui-sortable-placeholder:after { display: none; }
.field-images .image-lists .image-item .action { display:none; }

/*-----------------------------------------------------------------*/
/* FOOTER
/*-----------------------------------------------------------------*/

#footer { color: #a9b1b5; }
#footer a { 
	font-weight: bold; 
	color: #5a6063;
}
#footer a:hover { color: #3fadc9; }